# Editors
.vscode/
.log

# Mac/OSX
.DS_Store

# Environments
.env
**/__pycache__

# virtualenv
.venv/
venv/
ENV/

# Distribution / packaging
.Python
lib/
include/
bin/
share/

# Temporary files associated with video indexing
images/
src/indexer/results
src/indexer/tmp
src/indexer/input
src/workers/generate-and-store-hash/.input/*
src/workers/generate-and-store-hash/.output/*
!src/workers/generate-and-store-hash/.input/.gitkeep 
!src/workers/generate-and-store-hash/.output/.gitkeep 

# docker volumes for local development
.docker/

# Temporary files for local development
working-files/