# Editors
.vscode/
.log

# Mac/OSX
.DS_Store

# Environments
.env
**/__pycache__

# virtualenv
.venv/
venv/
ENV/

# Distribution / packaging
.Python
lib/
include/
bin/
share/

# Temporary files associated with video indexing
images/
src/indexer/results
src/indexer/tmp
src/indexer/input
src/indexer/.input/*
src/indexer/.output/*
!src/indexer/.input/.gitkeep 
!src/indexer/.output/.gitkeep 

# docker volumes for local development
.docker/

# Temporary files for local development
working-files/